[Unit]
Description=PiOLED message server
After=network.target

[Service]
User=display
Environment=FLASK_APP={{ config_repo }}/pi/display/display.py
ExecStart=/usr/local/bin/flask run --host=0.0.0.0
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
